#conteiner{
	width: 1200px;
	background: #ced8d8;
    background: -moz-linear-gradient(top, #ced8d9 0%, #fff 33%);
    background: -webkit-linear-gradient(top, #ced8d9 0%,#fff 33%);
    background: -o-linear-gradient(top, #ced8d9 0%,#fff 33%);
    background: -ms-linear-gradient(top, #ced8d9 0%,#fff 33%);
    background: linear-gradient(top, #ced8d9 0%,#fff 33%);
    padding: 10px;
}
#reg{

}