@font-face {
  font-family: 'AFKlampenborg';
  src: url('../fonts/AFKlampenborg/AFKlampenborg.eot?#iefix') format('embedded-opentype'),  url('../fonts/AFKlampenborg/AFKlampenborg.otf')  format('opentype'),
  url('../fonts/AFKlampenborg/AFKlampenborg.woff') format('woff'), url('../fonts/AFKlampenborg/AFKlampenborg.ttf')  format('truetype'), url('../fonts/AFKlampenborg/AFKlampenborg.svg#AFKlampenborg') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Helios';
  src: url('../fonts/Helios/Helios.eot?#iefix') format('embedded-opentype'),  url('../fonts/Helios/Helios.woff') format('woff'), url('../fonts/Helios/Helios.ttf')  format('truetype'), url('../fonts/Helios/Helios.svg#Helios') format('svg');
  font-weight: normal;
  font-style: normal;
}

body{
	background: #ced8d8; 
    background: -webkit-linear-gradient(top,#ced8d8 , #fff 50%); 
    background: -o-linear-gradient(top, #ced8d8 , #fff 50%); 
    background: -moz-linear-gradient(top, #ced8d8 , #fff 50%); 
    background: linear-gradient(top, #ced8d8 , #fff 50%); 
    background-repeat: no-repeat;

}
#conteiner{
	width: 1200px;
	height: 1500px;
	margin:0 auto;
}
#log{
	background-color: #fff;
	float: right;
	width: 156px;
	height: 24px;
	border: 1px solid #fff;
	border-top: none;
	border-bottom-left-radius: 18px;
	border-bottom-right-radius: 18px;	
	text-align: center;
	margin:-12px 0 0 10px;
	color: #959595;
	padding-top: 10px;

}
#log a{
	padding:0 6px 0 8px;
	font: 400 12px/23px "Arial";
	color: #747474;
}
#log .enter{
	color: #02a4fa;
}
#head{
	width: 776px;
	height: 161px;
	margin:0 212px 0 210px;	
	border-bottom: 1px solid #939598;
}
#logo{
	background: url("../images/logo.png") 0% 50%/176px 83px no-repeat;
	width: 300px;
	min-height: 83px;
	text-align: right;
	font: bold 21px/19px 'AFKlampenborg' ;
	color: #939598;
	margin-top:40px;
	margin-left: -3px;
	letter-spacing: 0.8px;
	float: left;
}
#logo p{
	text-align: left;
	padding: 19px 0 0 175px;
	margin-left:-5px;
}
.man{
	display: block;
}
#community{
	color: #646464;
	font: 400 15px/33px 'Arial';
	text-align: right;
	padding: 50px 30px 0 0;
	letter-spacing:  0.15px;
	word-spacing: 0.3px;
}
#main-nav{
	color: #939598;
	width: 400px;
	margin: 35px 25px 0 0;
	float:right; 

}
.main-ul li{
	font: 400 15px/43px "Arial";
	text-align: center;
	width: 130px;
	height: 43px;
	display: inline-block;
	border: 1px solid #939598;
	margin-left: -1px;
	float: left;
	background: #e5eaeb;
	background: -webkit-linear-gradient(top,#e5eaeb , #d9d7d5 100%); 
    background: -o-linear-gradient(top, #e5eaeb , #d9d7d5 100%); 
    background: -moz-linear-gradient(top, #e5eaeb , #d9d7d5 100%); 
    background: linear-gradient(top, #e5eaeb , #d9d7d5 100%);
}
#main-nav li:first-child{	
	background: #fff; 
    background: -webkit-linear-gradient(top,#fff , #e8eced 100%); 
    background: -o-linear-gradient(top, #fff , #e8eced 100%); 
    background: -moz-linear-gradient(top, #fff , #e8eced 100%); 
    background: linear-gradient(top, #fff , #e8eced 100%); 
	color: #45b8fb;
	border-top-left-radius: 25px;
	border-bottom: #e8eced;

}
#main-nav li:last-child{
	border-top-right-radius: 25px;
}
#big-one{
	width: 777px;
	margin: 26.5px 0 0 208px;
}
#categories{
	width: 230px;
	float: left;
}
#categories-header{
	font: 400 21px/24px "Arial";
	color: #03a7fe;
	background: url("../images/arrow-down.png") 49% 56%/12px 10px no-repeat;
	margin: -5px 0 22px;
}
.categories li{
	padding: 0 0 0 2px;
	width: 230px;
	border-bottom: 1px solid #c4c4c4;
	list-style-image: url("../images/arrow-aside.png");
	list-style-position: inside;
	font: 600 14px/32px "Arial";
	color: #6a6a6a;
}
#rss{
	margin-top: 43px;
	padding: 15px 63px 16px 63px;
	border-top:1px solid #cbcac9;
	border-bottom: 1px solid #cbcac9;
}
#rss-but{
	width: 102px;
	height: 33px;
	color: #939598;
	font: 500 21px/19px 'AFKlampenborg';
	background: #fff url("../images/rss.png") 30% 45%/18px 18px no-repeat;
	border: 3px solid #ff9600;
	border-radius: 30px;
	padding-left: 30px; 
}
#icons{
	margin: 29px;
	float: right;
}
#master-of{
	display: block;
	margin-right:25px;
}
#forma{
	display: block;
	margin: 16px 0 0 6px;
}
#interlink{
	display: block;
	margin: 26px 0 0 -7px;
}
#web{
	display: block;
	margin: 11px 0 0 -11px;
}
#artsoft{
	display: block;
	margin: 5px 0 0 8px;
}
#main{
	float: left;
	width: 528px;
}
#main h1{
	font: 400 26px/36px "Arial";
	margin: 30px 0 9px 21px;
	letter-spacing: 0.1px;
}
.for-table{
	border-top: 1px solid #00a7fb;
	width: 528px;
	height: 272px;
	margin: 0 0 0 20px;
	padding: 9px 0 7px 133px;
	background: url("../images/icon-table.png") 2% 10%/ 102px 115px no-repeat;
}
.table-comp{
	width: 393px;
	font: 400 12px/24px "Arial";
	background-color: #dfe5e6;
}
.border td{
	border-top: 3px solid #fff;
}
.table-comp caption{
	text-align: left;
	color: #03a7fe;
	font: 400 22px/33px "Arial";
}
.left{
	color:#505050;
	text-align: left;
}
.table-comp td{
	font: 400 12px/23px "Arial";
	padding: 1px 0 0px 10px;
}
.light{
	background-color: #eceff0;
}
.dark{
	background-color: #dfe5e6;
}
.phone{
	background: #eceff0 url("../images/phone-ico.png") 0% 0%/16px 16px no-repeat;
	border:none;
	padding-left: 20px;
}
.skype{
	background: #dfe5e6 url("../images/skype.png") 0% 0%/16px 16px no-repeat;
	border:none;
	padding-left: 20px;
}
.email{
	background: #eceff0 url("../images/email.png") 0% 0%/16px 16px no-repeat;
	border:none;
	padding-left: 20px;
}
.twiter{
	background: #dfe5e6 url("../images/twiter.png") 0% 0%/10px 13px no-repeat;
	border:none;
	padding-left: 20px;
}
.site{
	color: #03a7fe;
}
.table-comp td:last-child{
	padding-left: 70px;
}
